<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wobi.android.wobiwriting">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".WobiWritingApplication"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.GuideActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.MainActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:name=".home.SpeakCNActivity"/>
        <activity android:name=".home.CNClassicActivity"/>
        <activity android:name=".home.CalligraphyClassActivity"/>
        <activity android:name=".home.KewenDirectoryActivity"/>
        <activity android:name=".moments.SendMomentActivity"/>
        <activity android:name=".moments.ImagePickerActivity"/>
        <activity android:name=".me.MyInformationActivity"/>
        <activity android:name=".me.FeedbackActivity"/>
        <activity android:name=".me.MyMomentActivity"/>
        <activity android:name=".me.MyFollowActivity"/>
        <activity android:name=".me.MyWodouActivity"/>
        <activity android:name=".user.LoginActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".user.RegisterActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".user.GetVerifyCodeActivity"/>
    </application>

</manifest>