<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wobi.android.wobiwriting">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".WobiWritingApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.GuideActivity"
            android:theme="@style/TranslucentTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleTask"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".home.SearchActivity" />
        <activity
            android:name=".home.SpeakCNSzActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".home.SpeakCNScActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".home.SearchSpeakCNActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".home.SearchSpeakCNScActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name=".home.ListenActivity" />
        <activity
            android:name=".home.CNClassicActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".home.CalligraphyClassActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name=".home.KewenDirectoryActivity" />
        <activity android:name=".moments.SendMomentActivity" />
        <activity android:name=".moments.ImagePickerActivity" />
        <activity android:name=".moments.MomentDetailActivity" />
        <activity android:name=".moments.NewMomentActivity" />
        <activity android:name=".moments.QrcodeScanActivity" />
        <activity android:name=".moments.ModifyMomentActivity" />
        <activity android:name=".moments.MomentDescriptionActivity" />
        <activity android:name=".me.MyInformationActivity" />
        <activity android:name=".me.FeedbackActivity" />
        <activity android:name=".me.MyVipActivity" />
        <activity android:name=".moments.MyMomentActivity" />
        <activity android:name=".me.MyFollowActivity" />
        <activity
            android:name=".me.PurchaseVipActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".user.LoginActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".user.RegisterActivity"
            android:launchMode="singleTask" />
        <activity android:name=".user.GetVerifyCodeActivity" />

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />

        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:launchMode="singleTop" />

        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1106533048" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="WEIBO_APPKEY"
            android:value="2080787821" />
    </application>

</manifest>